button{
    border-radius: 70px;
    height: 70px;
    width: 70px;
    box-shadow: -10px 10px 10px;
    
}
.dot{
    width: 200px;
}
body{
    border: 5px solid black;
    width: 285px;
}
td>input{
    height: 60px;
    width: 270px;
}
